.categories {
	display: grid;
	grid-template-columns: repeat(4, 1fr) auto;
	grid-gap: 20px;
}

.foodCard {
	@include card-style;
	display: flex;
	flex-direction: column;
	position: relative;
	color: white;
	padding: 0 2rem 2rem 2rem;
	background-color: lightblue;

	&--Protein {
		background-color: $cardColor1;
	}

	&--Grains {
		background-color: $cardColor2;
	}

	&--Veggies {
		background-color: $cardColor3;
	}

	&--Custom {
		background-color: $cardColor4;
	}

	> h3 > i {
		padding-left: 1rem;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			@include border-oval;
			border: 1px solid white;
			margin: $base-margin / 2;
			padding: $base-padding / 3 1rem;
		}

	}

}

button[name="add"] {
	align-self: center;
	position: absolute;
	bottom: 1rem;
}

button[name="next"] {
	align-self: center;
}
