button {
	@include shadow-effect;
	@include border-circle;
	color: $button-text-color;
	border: 0;
	height: 3rem;
	width: 3rem;
	background-color: white;

	&:hover {
		transform: scale(1.1);
	}

	i {
		font-size: 1.3rem;
	}
}

.button--inverse {
		background-color: $main-theme;
		color: white;
}
