.recipe {

	&__summary {
		margin-top: $base-margin * 3;
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 3fr;
	}

	&__ingredients {
		@include card-style;
		padding: $base-padding $base-padding * 2;
		color: white;
		background-color: $main-theme;
	}

	&__buttons {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 20px;
		margin-bottom: $base-margin * 2;
	}

	img {
		@include card-style;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media screen and (max-width: 800px) {
	.recipe__summary {
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
	}
}