.resultsContainer {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}

.resultCard {
	@include card-style;
	display: flex;
	flex-direction: column;

	img {
		width: 100%;
		border-radius: 5px 5px 0 0;
	}

	button {
		position: absolute;
		top: -35px;
	}

	&__title {
		color: white;
		position: relative;
		background-color: $main-theme;
		border-radius:0 0 5px 5px;
		padding: $base-padding;
		height: 100%;

		h3 {
			margin: 0;
		}

	}
}