@mixin shadow-effect {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

@mixin card-style {
	@include shadow-effect;
	border-radius: 5px;

}

@mixin border-oval {
	border-radius: 15px;
}

@mixin border-circle {
	border-radius: 100%;
}