@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto:300&display=swap');

$heading-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

$red: #F16A70;
$green: #B1D877;
$blue: #8CDCDA;
$dark-gray: #4D4D4D; 

$main-theme: $red;

$cardColor1: $red;
$cardColor2: $blue;
$cardColor3: $green;
$cardColor4: $dark-gray;

$food-hover-color: white;
$food-hover-font-color: $red;

$button-text-color: $red;

$base-padding: 1rem;
$base-margin: 1rem;
